head
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    //- link(rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css")
    link(rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css")

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    title afanneau.com
    link(rel='icon' type='image/x-icon' href='ressources/favicon.ico')
    link(rel="stylesheet" href="css/index.css")    
    script(src='js/index.js')
body
    div.row.w-100.m-0
        div#first-div.col-12.first-slide.d-flex.pr-0.slide
            div.name-div
                div.row.h-25 
                    div.col-12            
                        h3.name1.text-center Hi i'm
                div.row.h-75
                    div.col-12
                        h1.name2.text-center Arthur Fanneau
            div.introduce#introduce
                div.row
                    div.col-12
                        h1.text-center.introduce-text let me introduce myself
                    div.col-12
                        h1.text-center.arrow ▼
                            
        div#second-div.col-12.slide.second-slide.d-flex.pr-0
            div.introduce#introduced
                div.row.h-100
                    div.col-12
                        h1.wip.text-center Work in progress

    //- div(style="height:10000px")#main
        h1 t
    //- div.h-100.w-100
        h1 t    