head
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    link(rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css")

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116543471-1"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hi I'm Arthur Fanneau, 21 years old webdevlopper studying at 42 Paris."/>
    title afanneau.com
    link(rel='icon' type='image/x-icon' href='ressources/favicon.ico')
    link(rel="stylesheet" href="css/index.css")    
    script(src='js/index.js')
body
    div.row.w-100.m-0
        div#dots.dots
            <div class="table">
                <div class="cell">
                    <ul class="dots">
                    <li><a id = 'li1' href="#">12</a></li>
                    <li><a id = 'li2' href="#">22</a></li>
                    <li><a id = 'li3' href="#">32</a></li>
                    <li><a id = 'li4' href="#">42</a></li>
                    </ul>
                </div>
            </div>
        div#first-div.col-12.first-slide.d-flex.slide
            div.name-div
                div.row.h-25 
                    div.col-12            
                        h3.name1.text-center Hi I'm
                div.row.h-75
                    div.col-12
                        h1.name2.text-center Arthur Fanneau
            div.introduce#introduce.prevent-hiding-url-bot
                div.row
                    div.col-12
                        h1.text-center.introduce-text let me introduce myself
                    div.col-12
                        h1.text-center.arrow ▼
                            
        div#second-div.col-12.slide.second-slide.d-flex
            div.row.w-100.h-100#introduced
                div.col-1.col-md-3                
                div.col-10.col-md-6#resume_div.resume-div.introduced_before
                    div
                        <p class='resume'> I am a 21 years old developper studying at <a href='https://www.42.fr'><b>42 Paris</b></a>. </p><p class='resume'>I'm currently learning <b>web developement</b> (NodeJS, React, CSS) and really intersted in web design, UX, UI.</p><p class='resume'>I'm looking to join a nice and inspiring team for my <b>first internship</b> (May/June 2018 to September/December 2018).</p>
                    div#attributes.attributes.row.attributes_before
                        div.attr-div#attr_1
                            <p class=''>English speaker</p>
                        div.attr-div#attr_2
                            <p class=''>Curious about everything</p>
                        div.attr-div#attr_3
                            <p class=''>Music lover</p>
                    div#project-button.project-button.row.prevent-hiding-url-bot
                            div.col-12.h-75        
                                h1.project-button-txt Some of my projects    
                            div.col-12.h-25
                                h1.text-center.arrow ▼
                div.col-1.col-md-3                
        div#third-div.col-12.third-slide
            div.row.test
                div.col-1.col-md-1.col-lg-2
                div.col-10.col-md-10.col-lg-8.third-div
                    ul.third-list
                        li.row.project-elem
                            div.col-0.col-lg-4
                            a(target="_blank" href="https://github.com/afanneau42/camagru").col-12.col-lg-4.col-cicrcle
                                div
                                    div.project-circle.border
                                        h1.project-title.project-elem Oct 12, 2017
                            div.col-12.col-lg-4.col-proj-info#proj-info-1-2
                                div.div-proj-info
                                    h5 First web project at 42. It's a website Instagram-like, you can upload/take pictures and like and comment pictures from others.
                                    h4 PHP, JS, mySQL
                        li.project-elem.row
                            div.col-0.col-lg-4#proj-info-2-1
                            a(target="_blank" href="https://github.com/afanneau42/matcha").col-12.col-lg-4.col-cicrcle
                                div
                                    div.project-circle.border
                                        h1.project-title.project-elem  Nov 14, 2017
                            div.col-12.col-lg-4#proj-info-2-2
                        li.project-elem.row
                            div.col-0.col-lg-4
                            a(target="_blank" href="https://github.com/nterol/HyperReact").col-12.col-lg-4.col-cicrcle
                                div
                                    div.project-circle.border
                                        h1.project-title.project-elem Feb 20, 2018
                            div.col-12.col-lg-4.col-proj-info#proj-info-3-2
                                div.div-proj-info
                                    h5 Third web project at 42. A streaming website where you can watch and comment movies.
                                    h4 NodeJS, React/Redux, MongoDB
                        li.project-elem.row
                            div.col-0.col-lg-4#proj-info-4-1
                            a(target="_blank" href="https://github.com/afanneau42/afanneau.com").col-12.col-lg-4.col-cicrcle
                                div
                                    div.project-circle.border
                                        h1.project-title.project-elem Mar 16, 2018
                            div.col-12.col-lg-4#proj-info-4-2
                        li.project-elem.row.mt-5
                            div.col-0.col-lg-4.col-proj-info#proj-info-5-1
                            div.col-12.col-lg-4.col-cicrcle
                                    div.project-circle.border
                                        h1.project-title.project-elem ?
                            div.col-12.col-lg-4.col-proj-info#proj-info-5-2
                div.col-1.col-md-1.col-lg-2
        div#fourth-div.col-12.slide.fourth-slide.d-flex     
            div.div_contact
                h1.contact_text.w-100.m-auto Contact me
                div.h-50.div_contact_all.mt-5
                    h2#contact_mail.contact_mail.w-100.m-auto.text-center afanneau@student.42.fr
                    div.m-auto.div_contact_img.w-100
                        a(target="_blank" href='https://www.linkedin.com/in/arthur-fanneau/')
                            img#img_linkedin(src='/ressources/linkedin_icon.png').m-auto
                        a(target="_blank" href='https://github.com/afanneau42/')
                            img#img_github(src='/ressources/github_icon.png').m-auto
        div.w-100.d-flex.footer
            h4 Made by <b>afanneau</b>, powered by <span style='color:red;font-weight:bold;'>♥</span>