head
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    //- link(rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css")
    link(rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css")

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116543471-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-116543471-1');
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hi I'm Arthur Fanneau, 21 years old webdevlopper studying at 42 Paris."/>
    title afanneau.com
    link(rel='icon' type='image/x-icon' href='ressources/favicon.ico')
    link(rel="stylesheet" href="css/index.css")    
    script(src='js/index.js')
body
    div.row.w-100.m-0
        div#dots.dots
            <div class="table">
                <div class="cell">
                    <ul class="dots">
                    <li><a id = 'li1' href="#">12</a></li>
                    <li><a id = 'li2' href="#">22</a></li>
                    <li><a id = 'li3' href="#">32</a></li>
                    <li><a id = 'li4' href="#">42</a></li>
                    <li><a id = 'li5' href="#">52</a></li>
                    <li><a id = 'li6' href="#">62</a></li>
                    </ul>
                </div>
            </div>
        div#first-div.col-12.first-slide.d-flex.slide
            div.name-div
                div.row.h-25 
                    div.col-12            
                        h3.name1.text-center Hi I'm
                div.row.h-75
                    div.col-12
                        h1.name2.text-center Arthur Fanneau
            div.introduce#introduce.prevent-hiding-url-bot
                div.row
                    div.col-12
                        h1.text-center.introduce-text let me introduce myself
                    div.col-12
                        h1.text-center.arrow ▼
                            
        div#second-div.col-12.slide.second-slide.d-flex
            div.row.w-100.h-100#introduced
                div.col-1.col-md-3                
                div.col-10.col-md-6#resume_div.resume-div.introduced_before
                    div
                        <p class='resume'> I am a 21 years old developper studying at <a href='https://www.42.fr'><b>42 Paris</b></a>. </p><p class='resume'>I'm currently learning <b>web developement</b> (NodeJS, React, CSS) and really intersted in web design, UX, UI.</p><p class='resume'>I'm looking to join a nice and inspiring team for my <b>first internship</b> (May/June 2018 to September/December 2018).</p>
                    div#attributes.attributes.row.attributes_before
                        div.attr-div#attr_1
                            <p class=''>English speaker</p>
                        div.attr-div#attr_2
                            <p class=''>Curious about everything</p>
                        div.attr-div#attr_3
                            <p class=''>Music lover</p>
                    div#project-button.project-button.row.prevent-hiding-url-bot
                            div.col-12.h-75        
                                h1.project-button-txt My projects    
                            div.col-12.h-25
                                h1.text-center.arrow ▼
                div.col-1.col-md-3                
        div#third-div.col-12.third-slide
            div.row.test
                div.col-1.col-md-2.col-lg-3
                div.col-10.col-md-8.col-lg-6.third-div
                    ul.third-list
                        //- li.row
                        //-     div.col-4
                        //-     div.col-4.project-circle.border
                        //-         h1.poject-title.project-elem FDF
                        //-     div.col-4
                        //- li.project-elem.row
                        //-     div.col-4
                        //-     div.col-4.project-circle.border
                        //-         h1.poject-title.project-elem FDF
                        //-     div.col-4
                        //- li.project-elem.row
                        //-     div.col-4
                        //-     div.col-4.project-circle.border
                        //-         h1.poject-title.project-elem FDF
                        //-     div.col-4
                        //- li.project-elem.row
                        //-     div.col-4
                        //-     div.col-4.project-circle.border
                        //-         h1.poject-title.project-elem FDF
                        //-     div.col-4
                div.col-1.col-md-2.col-lg-3
        div#forth-div.col-12.slide.forth-slide       

                    
    //- div(style="height:10000px")#main
        h1 t
    //- div.h-100.w-100
        h1 t    